# If zsh is being used, then ALIAS is abbr, otherwise alias
if [ -n "$ZSH_VERSION" ]; then
  abbr --quiet -g g=git
  abbr --quiet import-git-aliases -g --prefix "git "
  ALIAS() { alias "$@"; abbr --quiet "$@"; }
else
  ALIAS() { alias "$@"; }
fi

ALIAS dates='date +%Y%m%d_%H%M%S'
ALIAS hist='history'
ALIAS hista='history -E 1'
ALIAS l='ls -CF'
ALIAS l1='ls -1'
ALIAS g="git"

case $(uname) in
  Darwin)
    ALIAS ldd='otool -L'
    ALIAS lscpu='sysctl -a machdep.cpu'
    ALIAS lshw='system_profiler'
    ALIAS lsblk='diskutil list'
    ALIAS lsmod='kextstat'
    ALIAS lsusb='system_profiler SPUSBDataType'
    ;;
  Linux)
    ;;
esac

# eza
function _setup_exa() {
  if command -v eza &> /dev/null; then
    export EXA_COLORS='da=38;5;045:uu=38;5;120'
    ALIAS le='eza -l'
    ALIAS tre='eza --tree -I "*.pyc|__pycache__|pyu.egg-info"'
  fi
}
_setup_exa

